{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "plugins": ["react", "react-hooks", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "jsx-a11y/label-has-associated-control": [ "error", { "assert": "either" }],
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "react/prop-types": "off",
    "no-plusplus": "off",
    "no-console": "warn",
    "no-multiple-empty-lines": "warn",
    "max-len": ["warn", { "code": 120 }],
    "indent": ["warn", 2, {
      "SwitchCase": 1
    }],
    "import/prefer-default-export": "off",
    "no-param-reassign": ["error", {
      "props": false
    }]
  },
  "ignorePatterns": ["*config.js"]
}