.error-submit {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 2;
  border: 2px solid #de6515;
  border-radius: 12px;
  padding: 10px;
  background-color: #fee;
  box-shadow: 5px 4px 12px #a00;
  color: #a23;
}
